<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vue Basics</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="styles.css" />
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="app.js" defer></script>
</head>

<body>
  <header>
    <h1>Monster Slayer</h1>
  </header>
  <div id="game">
    <section id="monster" class="container">
      <h2>Monster Health: {{monsterhealth}}%</h2>
      <div class="healthbar">
        <div class="healthbar__value" :class="changeColorBarMonster" :style="monsterStylesBar">
        </div>
      </div>
    </section>
    <section id="player" class="container">
      <h2>Your Health: {{playerHealth}}%</h2>
      <div class="healthbar">
        <div class="healthbar__value" :class="changeColorBarPlayer" :style="playerStylesBar"></div>
      </div>
    </section>
    <section class="container" v-if="gameStatus">
      <h2 id="game-over-color">GAME OVER</h2>
      <h2 id="win-color" v-if="gameStatus === 'Win'">You Win!</h2>
      <h2 id="lost-color" v-if="gameStatus === 'Lost'">You Lost!</h2>
      <h2 id="draw-color" v-if="gameStatus === 'Draw'">It's a Draw!</h2>
      <button v-if="gameStatus" @click="resetGame">Start Again?</button>
    </section>
    <section id="controls" v-if="!gameStatus">
      <button @click="playerAttack">ATTACK</button>
      <button @click="specialAttack" :disabled="disableBtnAttack">SPECIAL ATTACK</button>
      <button @click="healPlayer" :disabled="disableBtnHeal">HEAL</button>
      <button @click="surrenderPlayer">SURRENDER</button>
    </section>
    <section id="log" class="container">
      <h2>Battle Log</h2>
      <ul>
        <li v-for="logMessage in logMessages">
          <span :class="logMessage.byWho === 'Player' ? 'log--player' : 'log--monster'"> {{logMessage.byWho}} - </span>
          <span v-if="logMessage.whatThing === 'heal'">
            <span class="log--heal">heal himself</span>
          </span>
          <span v-else-if="logMessage.whatThing === 'special attack'">
            <span class="log--special--damage">special attack</span>
          </span>
          <span v-else>
            <span class="log--damage">attack</span>
          </span> for +{{logMessage.forMany}}
        </li>
      </ul>
    </section>
  </div>
</body>

</html>